* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    gap: 19.2rem;
    align-items: center;
}

.time {
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    color: #323238;

    margin-bottom: 2rem;
}

.controls {
    display: flex;
    gap: 4rem;
}

.controls button {
    border: none;
    background-color: transparent;
}

.sons {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.sons button {
    background-color: #E1E1E6;
    border-radius: 2.4rem;

    padding: 4.8rem 4.4rem;
    cursor: pointer;

    border: none;
}

.sons button:focus {
    background-color: #02799D;
}

.forest:focus svg path,
.rain:focus svg path,
.coffeeShop:focus svg path,
.fireplace:focus svg path {
    fill: white;
}

@media (max-width: 850px) {
    main {
        gap: 4rem;
    }
}

@media (max-width: 720px) {
    main {
        flex-direction: column;
    }
}