* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color: #323238;

    --time-color: #000000;
    --controls-coler: #000000;
    --controls-hover-color: #02799D;

    --sound-color: #E1E1E6;
    --sound-focus-color: #02799D;
    --sound-focus-icon-color: #000000;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    background-color: var(--bg-color);
}

main {
    display: flex;
    gap: 19.2rem;
    align-items: center;
}

.time {
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    color: var(--time-color);

    margin-bottom: 2rem;
}

.controls {
    display: flex;
    gap: 4rem;
}

.controls button {
    border: none;
    background-color: transparent;
}

.controls button svg path {
    fill: var(--controls-coler);
}

.controls button:hover svg path {
    fill: var(--controls-hover-color);
}

.hide {
    display: none;
}

.sons {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(2, 1fr);
}

.sons button {
    background-color: var(--sound-color);
    border-radius: 2.4rem;
    border: none;

    padding: 4.8rem 4.4rem;
    width: 13.8rem;

    cursor: pointer;
}

.sons button.selected {
    background-color: var(--sound-focus-color);
}

@media (max-width: 850px) {
    main {
        gap: 4rem;
    }
}

@media (max-width: 720px) {
    main {
        flex-direction: column;
    }
}